.team-participants-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

.team-status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.opened {
    background-color: green;
}

.closed {
    background-color: red;
}

.participants-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.participant-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.participants-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cancelbutton, .joinbutton {
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    text-align: center;
}

.joinbutton {
    background-color: #007bff;
    color: white;
}

.cancelbutton {
    background-color: #d9534f;
    color: white;
}

.cancelbutton:hover {
    background-color: #5A6268; /* cor mais escura de vermelho no hover */
    color: white;
}

.joinbutton:hover {
    background-color: #0056b3; /* cor mais escura de azul no hover */
    color: white;
}