/* Menu lateral */
.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  top: 30px; /* Define a posição inicial abaixo do header, ajustando para a altura do header */
  left: -300px; /* Esconde o menu fora da tela à esquerda */
  height: calc(100vh - 60px); /* Define a altura como a altura total da tela menos a altura do header */
  padding: 20px;
  transition: left 0.3s ease; /* Desliza a partir da esquerda */
  position: fixed; /* Corrige a posição para que o sidebar acompanhe o scroll */
  overflow-y: auto; /* Adiciona rolagem interna no sidebar */
  z-index: 999; /* Garante que o sidebar fique acima de outros elementos */
}

.sidebar.open {
  left: 0; /* Mostra o menu ao clicar */
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin-bottom: 20px;
}

.sidebar-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.sidebar-nav ul li a:hover {
  color: #0056b3;
}

.menu-button {
  position: fixed;
  top: 60px;
  left: 10px; /* Muda para o lado esquerdo */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  font-size: 24px;
}

.menu-button.hidden {
  opacity: 0;
  pointer-events: none;
}
