.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.modal {
  background-color: white;
  padding: 30px 40px; 
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; 
}

.team-list {
  list-style-type: none;
  padding: 0;
}

.present-team-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc; 
}

.present-team-item:last-child {
  border-bottom: none; 
}


.team-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
}

.team-name {
  flex-grow: 1;
  text-align: left; 
}

.present-team-item label {
  margin-left: auto; 
}

.modal-actions {
  display: flex;
  justify-content: space-around; 
  margin-top: 20px; 
}

.cancel-button, .confirm-button {
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid #ccc;
  width: auto;
  display: flex;
}

.cancel-button {
  background-color: #CCCCCC;
  color: white;
}

.cancel-button:hover {
  background-color: #B0B0B0;
}

.confirm-button {
  background-color: #007bff;
  color: white;
}

.confirm-button:hover {
  background-color: #0056b3; 
}

.confirm-button:disabled {
  background-color: #666; 
  cursor: not-allowed; 
}

.present-team-item input[type="checkbox"] {
  width: 20px; 
  height: 20px; 
  transform: scale(1); 
  margin-right: 10px; 
  cursor: pointer;
}