.team-list-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}

.team-list-container p {
  margin: 0;
  margin-bottom: 10px;
}

.team-list-header {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.team-list {
  flex: 1; 
  overflow-y: auto; 
  max-height: calc(100vh - 200px); 
}

.teams-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  align-content: start;
}

.team-registration-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-registration-card:hover {
  background-color: #f3f3f3;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-status {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.private {
  background-color: red;
}

.public {
  background-color: green;
}

.team-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.team-card p {
  font-size: 14px;
  color: #666;
  margin: 5px 0 0;
}

.team-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.actions {
  display: flex;
  justify-content: right;
  gap: 30px;
  padding: 10px 0;
  position: relative;
  bottom: 0;
}

.create-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.create-button:hover {
  background-color: #f3f3f3;
  color: black;
}

.create-button:disabled {
  background-color: #ccc;
  color: #666;
  border-color: #aaa; 
  cursor: not-allowed;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.your-team {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 20px;
}

.search-icon {
  margin: 0px 8px;
  color: #666;
}

.search-input {
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;
}
