/* Layout principal */
.home-layout {
  position: relative;
  height: 100vh; /* Ocupar a altura total da tela */
}

/* Conteúdo da página */
.home-content {
  padding: 20px;
}

.home-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  margin-right: 100px; /* Adiciona uma margem à direita para afastar o ícone do menu */
}

.home-user-icon {
  font-size: 24px;
  color: #333;
}

.current-event, .previous-events {
  margin-top: 40px;
  text-align: center;
}

.previous-events-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-images {
  display: flex;
  gap: 10px;
}

.prev-button, .next-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
