.header {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #ccc;
  position: fixed;
  z-index: 1000;
}

.logo {
  cursor: pointer;
}

.logo-image {
  width: 200px;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-button, .logout-icon {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #47555e;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
  cursor: pointer;
}

.auth-button:hover, .logout-icon:hover {
  background-color: #333;
}

.auth-button span {
  cursor: default;
}

.user-name-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-size: 16px;
  color: white;
  background-color: #47555e;
  padding: 8px 16px;
  border-radius: 20px;
}

.logout-icon {
  margin-right: 10px;
}