.team-overview-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}

.team-overview-container label {
  font-weight: bold;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.filter-container label {
  margin-right: 10px;
  font-size: 14px;
}

.status-filter,
.competition-id-select {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 244px;
  margin-right: 20px;
}

.teams-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  overflow-y: auto;
}

.team-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  position: relative;
  transition: box-shadow 0.3s;
  overflow: hidden;
}

.team-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-status {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.pendente {
  background-color: orange;
}

.aprovada {
  background-color: green;
}

.rejeitada {
  background-color: red;
}

.team-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.team-card p {
  font-size: 14px;
  color: #666;
}

.members-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.member-item {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
