.team-list-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.search-input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.teams-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 180px);
    align-content: start;
}

.team-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.team-status {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.closed {
    background-color: red;
}

.open {
    background-color: green;
}

.team-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: inherit;
}

.create-team-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #007bff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

.create-team-button:hover {
    background-color: #007bff;
    color: white;
}
