.snackbar {
  position: fixed;
  top: 60px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 14px;
  z-index: 10001;
  opacity: 0;
  transform: translateY(-2000%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.snackbar.show {
  opacity: 1;
  transform: translateY(0);
}

.snackbar .icon {
  margin-right: 10px;
  font-size: 18px;
}

.snackbar.success .icon {
  color: #4caf50;
}

.snackbar.error .icon {
  color: #f44336;
}
